<img src="http://static.comicvine.com/uploads/original/7/74477/2940939-mrtintro.jpg" alt="MR.T" class="img-responsive">
<h1> Do you have a question? Get in touch!	</h1>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<%= label_tag :name, "Name" %>
			<%= text_field_tag :name, nil, class: "form-control", placeholder: "What is your name?" %>
		</div>
		<div class="form-group">
			<%= label_tag :email, "Email Address" %>
			<%= text_field_tag :email, nil, class: "form-control", placeholder: "What is your email address?" %>
		</div>
		<div class="form-group">
			<%= label_tag :message, "Message" %>
			<%= text_field_tag :message, nil, class: "form-control", placeholder: "How can I help you?" %>
		</div>
	</div>
</div>
<%= submit_tag "Send" %>
<% end %>