<% if signed_in? %>
    <h4>Add a review:</h4>
    <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
      <p>
        <div class="rating"></div>
      </p>
      <p>
        <%= f.label :body, "Comments" %><br>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit "Submit" %>
      </p>
    <% end %>
<% end %>   

<div class="product-reviews">
    <% @comments.each do |comment| %>
        <div class="row">
            <hr>
            <div class="rated" data-score= "<%=comment.rating %> "></div>
            <p>
              <%= comment.user.first_name %>  <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
              <% if signed_in? && current_user.admin? %>
                <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </p>
            <p><%= comment.body %></p>
        </div>
    <% end %>
</div> 

<%= will_paginate @comments %>